* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Inter", sans-serif;
}
body {
  background-color: #cccccc;
}
fundo{
  background:#00000067 ;
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
}
#edit_img_icon_father,#img_icon_father{
  cursor: pointer;
}


@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    font-size: 16px;
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    font-size: 15px;

  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    font-size: 15px;

  }
}
.modal_editar_produto ,.modal_adicionar_produto{
  width: 55%;
height: auto;
background: #2b2b2b;
border-radius: 15px;
padding: 15px;
display: none;
flex-direction: column;
align-items: center;
}
.modal_editar_produto .input_box,.modal_adicionar_produto .input_box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}
.modal_editar_produto .input_box #edit_input_img ,.modal_adicionar_produto .input_box #input_img {
  display: none;
}
.modal_editar_produto .input_box input,.modal_adicionar_produto .input_box input {
  border: none; 
height: 30px;
border-radius: 5px;
background: #d7d7d7;
}
.modal_editar_produto .input_box label,.modal_adicionar_produto .input_box label{
  margin-left: 5px;
  color: white;
  font-weight: 200;
}
.modal_editar_produto .icon_container i,.modal_adicionar_produto .icon_container i{
  color: white;
cursor: pointer;
}


.modal_editar_produto .icon_container ,.modal_adicionar_produto .icon_container {
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 10px;
}
.modal_editar_produto .box_img_father,.modal_adicionar_produto .box_img_father{
  display: flex;
  justify-content: center;
  margin: 0;
  align-items: center;
}
.modal_editar_produto button,.modal_adicionar_produto  button {
  background: #C85E0F;
border: none;
color: white;
padding: 10px 20px;
border-radius: 5px;
margin-top: 15px;
cursor: pointer;
}
.modal_editar_produto .input_box .input_elaborado input ,.modal_adicionar_produto .input_box .input_elaborado input {
  width: 75%;
}
.modal_editar_produto .flex ,.modal_adicionar_produto .flex {
  flex-wrap: wrap;
  justify-content: center;
}
.modal_editar_produto .flex form,.modal_adicionar_produto .flex form {
  display: flex;
flex-wrap: wrap;
justify-content: center;
}
.modal_editar_produto h3,.modal_adicionar_produto h3 {
  color: white;
font-weight: 300;
text-align: center;
font-family: "Cormorant Garamond", serif;
font-size: 25px;
}
.input_elaborado {
  background: #d7d7d7;
border-radius: 5px;
width: auto;
display: flex;
justify-content: center;
align-items: center;
}
.input_elaborado span{
  font-size: 20px;
color: #4f4f4f;

}
.flex {
  display: flex;
}
.flex_column {
  display: flex;
  flex-direction: column;
}

.content {
    position: relative;
    z-index: 1;
    overflow-y: scroll;
    background: #000000d6;
    height: 100vh;
    display: flex;
flex-direction: column;
justify-content: space-between;
}
.img_bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}
header {
  display: flex;
  justify-content: space-around;
  padding-right: 15%;
  margin-top: 20px;
}
.header_titles {
  color: white;
  font-weight: 200;
  font-size: 14px;
  display: flex;
  justify-content: space-evenly;
  width: 45%;
  cursor: pointer;
}
.mobile {
  color: white;
  font-weight: 200;
  font-size: 14px;
  display: flex;
  justify-content: space-evenly;
  width: 45%;
  cursor: pointer;
}
.img_logo_father img {
  width: 150px;
  margin-left: 60px;
}
.bottom_part {
  height: auto;
  display: flex;
  justify-content: start;
  width: 100vw;
  flex-direction: column;
  margin-top: 5%;
}

.bottom_part h3 {
  width: 100%;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  color: #dea460;
  font-size: 36px;
  font-weight: 300;
}
.especialidades_box {
    width: 80%;
    margin: 0 auto;
  height: auto;
  border: 1px solid #dea460;
  border-radius: 65px 65px 10px 10px;
  margin-top: 10px;
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.especialidades_box .product {
  width: 270px;
  height: 200px;
  background: #302d2d;
  border-radius: 10px;
  margin: 20px 50px;
}

.edit, .confirm_delete {
  width: 100%;
  text-align: end;
  padding-right: 10px;
  padding-top: 10px;
  color: #7a7a7a;
  cursor: pointer;

}
.confirm_delete {
  color: #ff8f00;
  cursor: pointer;

}
.product .img_product_father {
  width: 100%;
  display: flex;
  justify-content: center;
}
.product .img_product_father img {
  filter: drop-shadow(4px 6px 2px #1d1c1c);
  width: 140px;
  height: 90px;
  object-fit: contain;
  margin-bottom: 10px;
}
.product .price {
  color: rgb(190, 184, 184);
  font-weight: 100;
}
.product .weight {
  font-family: "Prata", serif;
  font-weight: 200;
  font-size: 15px;
  color: #807e7e;
}
.product .product_data {
  display: flex;
  justify-content: center;
}
.product .flex_column {
  width: 80%;
}
.product .flex_column .first_line {
  display: flex;
  justify-content: space-between;
}
.product .second_line {
  display: flex;
justify-content: space-between;
margin-top: 10px;
}
.product .name {
  color: #beb8b8;
  font-weight: 200;
}
.product .second_line .minus i, .product .second_line  .plus i{
    color: white;
}
.product .second_line .flex {
    justify-content: center;
align-items: center;
}
.product .second_line .flex span {
    margin: 0 5px;
font-size: 18px;
font-weight: 200;
color: #beb8b8;
}
.product .minus, .product .plus{
    background: #BB8F1F;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    cursor: pointer;
}


.especialidades_box .product_marked{
background: #A14F12;
}
.especialidades_box .product_marked .weight{
  color: #BEB8B8;
}
 .carrinho {
  display: none;
  height: 0px;
width: 200px;
background: transparent;
border: 1px solid white;
}
 .flex{
  justify-content: end;
  padding: 0 10%;
}
.carrinho h3 {
  width: 100%;
text-align: center;
color: white;
font-family:"Cormorant Garamond", serif ;
font-weight: 200;

}
.carrinho orange_text {
  color: #DEA460;
}
.carrinho .item_carrinho {
  font-size: 14px;
color: white;
font-weight: 200;
margin: 6px 0;
}
.carrinho article {
  display: flex;
width: 100%;
justify-content: start;
padding-top: 25px;
padding-left: 10px;
flex-direction: column;
}
#sidebar{
  display: none;
  flex-direction: column;
  width: 100%;
  height: 0;
  background: #0e0e0efa;
  float: right;
  position: absolute;
  top: 70px;
  border-radius: 0 0 20px 20px;
}
#sidebar span {
  padding: 10px;
  border-bottom: 1px solid;
  width: 100%;
}
#mobile{
  display: none;
}
#sidebar span:active{
  background: #1e1e1e;
}
@media screen and (max-width: 900px) { 
    .desktop,.header_titles{
      display: none;
    }
    
    #mobile{
      display: flex;
      color: white;
      font-size: 25px;
      width: 50%;
      justify-content: end;
      padding-right: 10%;
    }
    #mobile i{
      cursor: pointer;
    }
    header{
      justify-content: space-evenly;
      padding-right: 0;
    }
    .img_logo_father{
      width: 50%;
display: flex;
justify-content: center;
    }
    .img_bg{
      object-fit: cover;
    }

 
}